body {
  background-color: rgb(28, 41, 51);
  margin-top: 80px;

}
.title-menualacarte {
  color: white;
  text-align: center;
  font-weight: 800;
  font-style: dosis;
  font-size: 40px;
}
.container-a-la-carte-menu {
  background-image: url(img23.jpeg);
  border-radius: 10px;
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  margin-left: 90px;
  margin-right: 90px;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  font-family: dosis;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(img23.jpeg);
  
  

}

.bottom-a-la-carte-menu {
  text-align: center;
  color: white;
  font-family: dosis;
}
.nonameressg {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu-subject-title {
  font-weight: bold;
  font-size: 20px;
}
.info-menu-subject {
  font-size: 14px;
}