

* {box-sizing: border-box;}
body {
  height: 2000px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


img {
  vertical-align: middle;
  
}
.slideshow-container {
  width: fit-content;
  position: relative;
  margin-top: 47px;

  
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #c2c1c1;
}
.img-welcome {
  position: relative;
}
.text-welcome {
  color: #a09999;
    font-size: 35px;
    font-family: Dosis;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
    box-shadow: rgba(0,0,0,0.5);
 
}