body {
  margin: 0;
  margin-top: 70px;
}
.img-top-page2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  
}
.container-about-res-page2 {
 text-align: center;
 margin-left: 150px;
 margin-right: 150px;
 line-height: 25px;
 font-family: 'Nanum Myeongjo';
 
 
 
 }
.title-about-res-page2 {
  margin-top: 0;
  margin-bottom: 0;
 font-size: 30px;
 padding-top: 20px;
 color: rgb(139, 99, 75);
 font-weight: 800;

}
.info-about-res-page2 {
  color : rgb(106, 106, 106);
  font-size: 20px;
  padding-bottom: 40px;
}
.met-our-chef {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgb(139, 99, 75);
  height: 500px;
  margin-top: 0;
}
.chef-pic {
width: 535px;
height: 500px;
object-fit: cover;
object-position: center;
}
.met-our-chef p {
  color: white;
  font-size: 14px;
  font-family: dosis;
  margin-left: 40px;
  line-height: 25px;
}
.title-meet-out-chef {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}
